/*------------------------- General Properties -------------------------*/

html {
    height: 100%;
    box-sizing: border-box;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: inherit;
}
body, html {
    left: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
}
body {
    color: #2f2f2f;
    line-height: 1.7;
    background-color: #fff;
    position: left;
}
a {
    color: #2f2f2f;
    text-decoration: none;
    transition: ease .6s;
    -webkit-transition: ease .6s;
    -moz-transition: ease .6s;
    -o-transition: ease .6s;
    -ms-transition: ease .6s;
}

/*----------------------------------------- 2) Preloader --------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
}
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin: -40px 0 0 -100px;
}
#status img {
    margin-top: -100px;
    max-width: 330px;
    margin-left: -65px;
}

/*----------------------------------------- Header --------------------------------------------------*/

.header {
    position: absolute;
    display: inherit;
    float: right;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    opacity: 1;
    /* Force Hardware Acceleration */
    transform: translateZ(0);
    will-change: transform;
    transition: transform .5s;
}
#logo {
    max-height: 45px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 5px;
}
button {
    padding: 8px 15px;
    border: 0;
    outline: 0;
    color: #fff;
    background: #5F5F5F;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 0 4px 0 #5F5F5F;
}
button:active {
    margin-top: 2px;
    box-shadow: 0 2px 0 #84B084;
}
.user_buttons {
    float: right;
    display: block;
    margin: 15px;
}
.user_buttons button {
    display: block;
    float: right;
    margin: 0 10px;
}
#account_links {
    float: right;
    margin: 15px;
    display: none;
}
#account_links a {
    color: #000;
    font-weight: 700;
}
.vert_line {
    display: inline-block;
}

/*------------------------- Animatations --------------------------------------*/


/*------------------------- Animated Open Close Button --------------------------------------*/

#sidebar-opener {
    z-index: 9999;
    width: 30px;
    height: 20px;
    position: fixed;
    margin: 15px auto;
    margin-left: 20px;
    float: left;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}
#sidebar-opener span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #3B3B3B;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#sidebar-opener span:nth-child(1) {
    top: 0px;
}
#sidebar-opener span:nth-child(2), #sidebar-opener span:nth-child(3) {
    top: 9px;
}
#sidebar-opener span:nth-child(4) {
    top: 18px;
}
#sidebar-opener.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}
#sidebar-opener.open span:nth-child(2) {
    transform: rotate(45deg);
}
#sidebar-opener.open span:nth-child(3) {
    transform: rotate(-45deg);
}
#sidebar-opener.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}

/*----------------------------------- Page Wrap --------------------------------*/

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    height: 80%;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    height: 80%;
    position: absolute;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 0px;
    }
    #wrapper.toggled {
        padding-left: 250;
    }
    #sidebar-wrapper {
        width: 0px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: -250px;
    }
}

/*------------------------- Sidebar --------------------------*/

.sidebar-nav {
    position: relative;
    top: 20px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
    background-color: #eaeaea;
}

/*----------------------------------------- Typography --------------------------------------------------*/

h1, h2, h3, h4, h5 {
    letter-spacing: 0.8px;
    font-family: 'Roboto Slab', serif;
}
p {
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 34px;
    font-weight: 300;
}

/*------------------------------ Main Content -----------------------------*/

.spacer-page {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    height: 80%;
    position: relative;
}
#sign-up {
    padding-top: 10%;
}
#user-profile {
    padding-top: 10%;
}
#topics {
    align-self: center;
    padding-top: 10%;
    align-content: center;
    display: block;
}

/*-------------- Topics ------------------*/

.topics-button {
    display: block;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-transform: none;
    height: 60px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
    background: #f1f1f1;
    ;
}

/*-------------- Profile Tab ------------------*/

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 15%;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    height: 100%;
    transition: 0.3s;
    font-size: 13px;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
    position: relative;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 85%;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}
.tabcontent table {
    height: 70%;
    width: 100%
}
.tabcontent table th {
    width: 40%;
}
.tabcontent table td input {
    width: 80%;
}
.tabcontent button {
    position: absolute;
    margin-top: 5%;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*-------------- Interests ------------------*/

.interest-header {
    float: left;
    width: 100%;
    height: 12%;
    font-size: 20px;
    text-align: center;
}
.interest-wrapper {
    position: relative;
    float: left;
    margin: 1%;
    width: 31%;
}
.interest-wrapper button {
    background-color: rgba(185, 178, 178, 0.71);
    width: 100%;
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 10px;
    font-weight: bold;
}
.interest-container {
    height: 85%;
    width: 100%;
}

/*-------------- Footer ------------------*/

.footer-wrapper {
    clear: both;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 254.41px;
    height: 254.41px;
}
.footer-bottom {
    width: 100%;
    background: #000;
    padding: 80px 0;
    align-content: center;
}
.footer-bottom img {
    max-width: 200px;
    filter: invert(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 19.4765px;
}
.copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c0c0c0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}